.container {
  width: calc(100vw - 300px);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 70%;
  width: 100%;
  text-align: center;
  background-color: rgb(199, 195, 195);
  flex-grow: 1;
}

.footer {
  height: 20%;
  width: 100%;
  background-color: gainsboro;

}

@media screen  {
    
}